
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Epilogue", sans-serif;
}

body{
    height: 100vh;
 background-color: #FFFFFF;
}

/* start css header */
header{
    height: 80px;
    padding: 0 50px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #28282828;
}
#home{
    color:  #1576D6;
    
}
header h1 a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;

}

header .navbar{
    display: flex;
    gap: 1rem;
    


}
header .navbar li{
    list-style: none;
}
header .navbar li a{
    text-decoration: none;
    color: #070707;

}

#icon-inside{
    display: none;
   color: #000;
    font-size: 1.5rem;

}
/* end css header */




/* start css HOME */
#HOME{
    padding: 62px 100px;
    display: flex;
    justify-content: center;
}

.box-big{
   
    width: 1028px;
    height: 574px;
    padding: 80px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.box-big-title{
    width: 557px;
    height: 340px;
}

.box-big-title p{
    
color: #000;
font-size: 20px;
font-weight: 600;
line-height: 30px;
text-align: left;
margin-bottom: 40px;

}

.box-big-title h1{
    font-family: Epilogue;
    font-size: 80px;
    font-weight: 600;
    line-height: 90px;
    text-align: left;
    color: #000;

    

}

.box-big-img{
   
    /* width: 500px;
    height: 500px; */
}

/* end css HOME */




/* start css SERVICES */
#SERVICES{
    margin-top: 10%;
    margin-bottom: 10%;
    width: 100%;
    height: auto;
  
    padding: 148px 140.15px;
    display: flex;
    justify-content: center;
 
}

.SERVICES-content{
   
    width:  999.7px;
    height: 328px;
    display: flex;
    justify-content: space-between;


}

.SERVICES-content-card{
   
    width: 249.9px;
    height: 328px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SERVICES-content-card-img{
    width: 130px;
    height: 130px;
    margin-bottom: 40px;
}

.SERVICES-content-card-h1{
    margin-bottom: 15px;
}
.SERVICES-content-card-p{

font-size: 17px;
font-weight: 400;
line-height: 27px;
text-align: center;

}

/* end css SERVICES */

/* start css PROJECT */
#PROJECTS{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 100%;
    height: auto;
}
.PROJECTS-border{
    width: 1085px;
    height: 894px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  
    align-items: center;
    gap: 4rem;
}

.PROJECTS-border-card{
   
    width: 315px;
    height: 407px;
    
    
}
.PROJECTS-border-card-img{
    width: 315px;
    height: 315px;
    margin-bottom: 25px;
    
}
.PROJECTS-border-card-h3{
   
    font-family: Epilogue;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;

    margin-bottom: 10px;
    
}


/* end css PROJECT */



/* start css CLIENTS */


#CLIENTS{

       width: 100%;
       display: flex;
       justify-content: center;
}

.CLIENTS-card{
   
  
    width: 1080px;
    height: 317px;
    display: flex;
    justify-content: space-between;
   
}

.CLIENTS-card-details{
  
    border: 1.5px solid #1575d6;
    width: 315px;
    height: 317px;
    padding: 30px 30px;
    display: flex;
    flex-wrap: wrap;
    background-color:  #0f79e316;
}

.CLIENTS-card-details-p{
    
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    margin-bottom: 40px;

}
.CLIENTS-card-details-main{
display: flex;
justify-content: center;
align-items: center;
}
.CLIENTS-card-details-main img{
    width: 50px;
    height: 50px;
    border-radius:50%;
    /* border: 1px 0px 0px 0px; */


    }
    .CLIENTS-card-details-content{
        Display: flex;
        flex-direction: column;
        gap: 4px;
        margin-left: 20px;
    }
    .CLIENTS-card-details-content ul{
        display: flex;

    }
    .CLIENTS-card-details-content ul li i{
     margin-left: 3px;

    }
/* end css CLIENTS */


/* start css footer */
#FOOTER{

    margin-top: 10%;
    display: flex;
    justify-content: center;
}

.container{
    width: 1028px;
    height: 495px;
  
    display: flex;
    justify-content: space-between;
}
.FOOTER-info{
    width: 360px;
    height:  286px;

    /* border: 1px solid blue; */
   
}
.FOOTER-info h2{
    

    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
    text-align: left;
    margin-bottom: 40px;

}
.FOOTER-info-p{
    margin-bottom: 70px;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;

}
.FOOTER-info-i{
    display: flex;
    font-size: 1.4rem;
    gap: 1rem;
    width: 36px;
    height: 36px;
}
.FOOTER-info-i a{
    color: #000;
    padding: 10p 14px;
  
   
}

.FOOTER-info-i a:hover{
    opacity: 0.7;
    color: #1000f3f5;

}
.FOOTER-input{
   width:  530px;
   height: 495px;
  /* border: 1px solid red; */
}
.FOOTER-input-name{
    width: 530px;
    height: 69px;
    padding: 21px 30px ;
    background-color: #F3F3F3;
    border: 0px;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    margin-bottom: 20px;

}

.FOOTER-input-address{
    width: 530px;
    height: 69px;
    padding: 21px 30px ;
    background-color: #F3F3F3;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    border: 0px;
    margin-bottom: 15px;


}
.FOOTER-input-textarea{
    width: 530px;
    height:  231px;
    padding: 21px 30px ;
    background-color: #F3F3F3;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    resize: none;
    margin-bottom: 10px;
    border: 0px;

}
.FOOTER-input-btn{
    width: 199px;
    height: 66px;
    padding: 18px 64px ;

    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border: 0px;
    cursor: pointer;
    background-color: #2D2D2D;
    color: white;

}
#copyright{ 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    /* border: 1px solid red; */
    background-color: #333333
}
.copyright-p{
    color: white;
}
/* end css footer */
@media screen and (max-width: 767px) {

    header{
        width: 100%;
        
    }
    
    header .navbar{
        
        position: absolute;
        top: -500px;
        left: 0;
        right: 0;
        padding: 40px 10px;
        background-color: #2d2d2d;
        display: flex;
        flex-direction: column;
        transition: all .5s ease;
    }
    header .navbar li a{
        text-decoration: none;
        color: #ebe4e4;
    
    }
    .navbar.active{
        top: 10%;
    }
    #icon-inside{
    display: block;
    padding: 29px 0;
}  

.box-big{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.box-big-title{
    width: 315px;
   height: 574px;
}
.box-big-title p{
  
font-size: 20px;
font-weight: 600;
line-height: 30px;
text-align: center;

}


.box-big-title h1{
    width: 100%;
    font-family: Epilogue;
font-size: 44px;
font-weight: 600;
line-height: 45.1px;
text-align: center;

    
}
.box-big-img{
    
    width: 315px;
    height: 315px;
    
}


.SERVICES-content{
   
    width: 329.9px;
    height: 1107px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    flex-direction: column;


}

.PROJECTS-border{
    width: 100%;
    display: flex;
    justify-content: center;
    padding:0px 100.5px ;
}



#CLIENTS{
    margin-top: 450%;
    width: 100%;
    
}

.CLIENTS-card{
    
    margin-top: 80px;
   width: 375px;
   height: 1111px;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   
  
   
}
.FOOTER-info-p{
    margin-bottom: 20px;
    

}
.container{
    width: 315px;
    height: 870px;
    display: flex;
    flex-wrap: wrap;
}
.FOOTER-input{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.FOOTER-input-name{
    width: 315px;
    height: 69px;
    padding: 21px 30px;

}
.FOOTER-input-address
{
    width: 315px;
    height: 69px;
    padding: 21px 30px;

}

.FOOTER-input-textarea{
    width: 315px;
    height: 231px;
    padding: 21px 30px;

}

.FOOTER-input-btn{
    width: 199px;
    height: 66px;
    padding: 18px 64px;

}
#copyright{ 
    width: 100%;
}

.copyright-p{
    font-size: 13px;
    font-weight: 500;
}
}

@media screen and (min-width: 767px) and (max-width: 992px) {

   
.box-big{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.box-big-title{
    width: 315px;
   height: 574px;
}
.box-big-title p{
  
font-size: 20px;
font-weight: 600;
line-height: 30px;
text-align: center;

}


.box-big-title h1{
    width: 100%;
    font-family: Epilogue;
font-size: 44px;
font-weight: 600;
line-height: 45.1px;
text-align: center;

    
}
.box-big-img{
    
    width: 315px;
    height: 315px;
    
}
.PROJECTS-border{
    width: 1085px;
    height: 894px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
  
    align-items: center;
    gap: 4rem;
    padding: 0 100.5px;
}
    
#CLIENTS{
    margin-top: 250%;
    width: 100%;
    
}

.CLIENTS-card{
    margin-top: 20%;
  
   width: 375px;
   height: 1111px;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   
  
   
}


.container{
    width: 700px;
    height: 870px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.FOOTER-input{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.FOOTER-input-name{
    width: 315px;
    height: 69px;
    padding: 21px 30px;

}
.FOOTER-input-address
{
    width: 315px;
    height: 69px;
    padding: 21px 30px;

}

.FOOTER-input-textarea{
    width: 315px;
    height: 231px;
    padding: 21px 30px;

}

.FOOTER-input-btn{
    width: 199px;
    height: 66px;
    padding: 18px 64px;

}
#copyright{ 
    width: 100%;
}

.copyright-p{
    font-size: 13px;
    font-weight: 500;
}
}


@media screen  and (min-width: 992px) and (max-width: 1024px){

    header{
        width: 100%;
        
    }
    
.box-big{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.box-big-title{
    width: 315px;
   height: 574px;
}
.box-big-title p{
  
font-size: 20px;
font-weight: 600;
line-height: 30px;
text-align: center;

}


.box-big-title h1{
    width: 100%;
    font-family: Epilogue;
font-size: 44px;
font-weight: 600;
line-height: 45.1px;
text-align: center;

    
}
.box-big-img{
    
    width: 315px;
    height: 315px;
    
}
    
.PROJECTS-border{
    width: 1085px;
    height: 894px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    align-items: center;
    gap: 4rem;
    padding: 0 100.5px;
}
   
#CLIENTS{
    margin-top: 70%;
    width: 100%;
    
}

.CLIENTS-card{
   
   width: 100%;
   height: 317px;
   display: flex;
   align-items: center;
   justify-content: space-around;
  
   flex-direction: row;
   
  
   
}

.container{
    width: 700px;
    height: 870px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.FOOTER-input{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.FOOTER-input-name{
    width: 315px;
    height: 69px;
    padding: 21px 30px;

}
.FOOTER-input-address
{
    width: 315px;
    height: 69px;
    padding: 21px 30px;

}

.FOOTER-input-textarea{
    width: 315px;
    height: 231px;
    padding: 21px 30px;

}

.FOOTER-input-btn{
    width: 199px;
    height: 66px;
    padding: 18px 64px;

}
#copyright{ 
    width: 100%;
}

.copyright-p{
    font-size: 13px;
    font-weight: 500;
}
}

